$padding: 15px;
.container {
    margin: 0 auto;
    padding: 0 $padding;
    width: 100%;
    display: flex;
	flex-wrap: wrap;
	
}
.row {
	width: calc(100% + #{$padding}*2);
	float: left;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.col {
	width: 100%;
	float: left;
	padding: 0 $padding;
	transition: 0.2s;
}

/* dùng xs cho màn điện thoại có kích thước nhỏ hơn 576px */
@media only screen and (max-width: 575px) {
	.container {
		max-width: 100%;
	}
	@for $i from 1 through 12 {
		.col-xs-#{$i} {
			@if $i == 12 {
				width: 100%;
			} @else {
				width: calc(100% - (100% / (12 / (12 - #{$i}) )) );
			}
		}
	}
}
/* dùng sm cho màn điện thoại có kích thước lớn hơn 576px */
@media only screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	@for $i from 1 through 12 {
		.col-sm-#{$i} {
			@if $i == 12 {
				width: 100%;
			} @else {
				width: calc(100% - (100% / (12 / (12 - #{$i}) )) );
			}
		}
	}
}
/* dùng md cho màn điện thoại có kích thước lớn hơn 768px */
@media only screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	@for $i from 1 through 12 {
		.col-md-#{$i} {
			@if $i == 12 {
				width: 100%;
			} @else {
				width: calc(100% - (100% / (12 / (12 - #{$i}) )) );
			}
		}
	}
}
/* dùng lg cho màn điện thoại có kích thước lớn hơn 992px */
@media only screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	@for $i from 1 through 12 {
		.col-lg-#{$i} {
			@if $i == 12 {
				width: 100%;
			} @else {
				width: calc(100% - (100% / (12 / (12 - #{$i}) )) );
			}
		}
	}
}
/* dùng xl cho màn điện thoại có kích thước lớn hơn 1200px */
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	@for $i from 1 through 12 {
		.col-xl-#{$i} {
			@if $i == 12 {
				width: 100%;
			} @else {
				width: calc(100% - (100% / (12 / (12 - #{$i}) )) );
			}
		}
	}
}