@charset "UTF-8";
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.row {
  width: calc(100% + 15px*2);
  float: left;
  display: flex;
  flex-wrap: wrap; }

.col {
  width: 100%;
  float: left;
  padding: 0 15px;
  transition: 0.2s; }

/* dùng xs cho màn điện thoại có kích thước nhỏ hơn 576px */
@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%; }

  .col-xs-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-xs-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-xs-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-xs-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-xs-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-xs-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-xs-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-xs-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-xs-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-xs-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-xs-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-xs-12 {
    width: 100%; } }
/* dùng sm cho màn điện thoại có kích thước lớn hơn 576px */
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px; }

  .col-sm-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-sm-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-sm-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-sm-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-sm-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-sm-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-sm-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-sm-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-sm-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-sm-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-sm-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-sm-12 {
    width: 100%; } }
/* dùng md cho màn điện thoại có kích thước lớn hơn 768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px; }

  .col-md-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-md-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-md-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-md-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-md-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-md-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-md-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-md-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-md-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-md-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-md-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-md-12 {
    width: 100%; } }
/* dùng lg cho màn điện thoại có kích thước lớn hơn 992px */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px; }

  .col-lg-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-lg-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-lg-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-lg-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-lg-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-lg-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-lg-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-lg-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-lg-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-lg-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-lg-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-lg-12 {
    width: 100%; } }
/* dùng xl cho màn điện thoại có kích thước lớn hơn 1200px */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; }

  .col-xl-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-xl-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-xl-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-xl-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-xl-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-xl-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-xl-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-xl-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-xl-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-xl-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-xl-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-xl-12 {
    width: 100%; } }
/* 
	thuộc tính transform dùng để tạo hiệu ứng
		rotate(Độ:deg): hiệu ứng xoay VD rotate(90deg)
		scale(kích thước phóng:số): hiệu ứng zoo VD scale(1)

		translateX(px): di chuyển ngang
		translateY(px): di chuyển dọc

		skewX(Độ:deg): nghiêng ngang
		skewY(Độ:deg): nghiêng dọc

		transform-origin: Nó cho phép bạn định vị chiều rộng và chiều cao cho thành phần,
		dùng chung với transform và có các thuộc tính: top bottom left right và %

		Perspective: tạo hiệu ứng 3D nó sẽ cho ta thấy được chiều sâu của thành phần, 
		khoảng chiều sâu được tính từ điểm đặt ban đầu tới giá trị của perspective (theo đơn vị pixel).
	
	cú pháp tạo 1 animation
	@keyframes box-rotate-reverse {
		50% {
			transform: rotate(-180deg); 
		}
		100% { 
			transform: rotate(-360deg); 
		}
	}
	gọi
	animation: NameKeyFrames duration(s) timing delay(s) iteration-count direction;
*/
/* dùng cho một vài thuộc tính riêng cho trình duyện VD: transition, box-shadow */
/* căn giữa chiều dọc và ngang trên 1 box */
/* background opacity */
.site-main__menu {
  width: 100%;
  margin: 22px 0 38px 0; }
  .site-main__menu ul {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .site-main__menu ul li {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; }
      .site-main__menu ul li a {
        color: #373737;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px; }
      .site-main__menu ul li i {
        margin: 0 11px; }
.site-main__top {
  width: 100%; }
  .site-main__top .content {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #DDDDDD; }
    .site-main__top .content .left {
      width: 45%; }
      .site-main__top .content .left-in__images .images_large {
        height: 396px; }
        .site-main__top .content .left-in__images .images_large .item {
          height: 396px;
          padding: 33px 97px 29px 96px; }
          .site-main__top .content .left-in__images .images_large .item a img {
            height: 335px;
            width: 100%; }
      .site-main__top .content .left-in__images .images_thumnail .owl-stage-outer .owl-stage .owl-item.active {
        width: 96px;
        height: 72px;
        border: 1px solid #DDDDDD;
        padding: 6px 8px 5px 17px; }
        .site-main__top .content .left-in__images .images_thumnail .owl-stage-outer .owl-stage .owl-item.active .item a img {
          height: 61px;
          width: 61px; }
    .site-main__top .content .right {
      width: calc(55% - 30px);
      margin-left: 30px; }
      .site-main__top .content .right-title {
        max-width: 642px;
        width: 100%; }
        .site-main__top .content .right-title h1 {
          font-size: 26px;
          font-weight: 700;
          line-height: 34px;
          margin-bottom: 14px;
          color: #373737;
          font-family: Roboto;
          text-align: left; }
      .site-main__top .content .right-content p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 17px;
        color: #373737;
        text-align: left; }
        .site-main__top .content .right-content p:last-child {
          margin-bottom: 0px; }
      .site-main__top .content .right-content h3 {
        margin-bottom: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #373737;
        text-align: left; }
      .site-main__top .content .right-content__price {
        display: inline-flex;
        align-items: center; }
        .site-main__top .content .right-content__price h1 {
          color: #E31927;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          padding-right: 10px; }
      .site-main__top .content .right-purchase {
        display: flex;
        margin-top: 23px;
        margin-bottom: 9px; }
        .site-main__top .content .right-purchase__left {
          display: flex;
          align-items: center; }
          .site-main__top .content .right-purchase__left span {
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            color: #373737;
            margin-right: 17px; }
          .site-main__top .content .right-purchase__left .quantity {
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            margin-right: 10px; }
            .site-main__top .content .right-purchase__left .quantity-plus {
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-bottom: 8px solid #000;
              top: 13px;
              position: absolute;
              background: transparent;
              right: 10px;
              z-index: 1;
              color: #333; }
            .site-main__top .content .right-purchase__left .quantity input {
              width: 112px;
              height: 45px;
              border: 1px solid #eeeeee;
              max-width: 100%;
              width: 100%;
              padding-right: 35px;
              padding-left: 20px;
              padding-top: 12px;
              padding-bottom: 12px;
              font-size: 16px;
              color: #333; }
            .site-main__top .content .right-purchase__left .quantity-minus {
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 8px solid #000;
              bottom: 13px;
              position: absolute;
              background: transparent;
              right: 10px;
              z-index: 1;
              color: #333; }
            .site-main__top .content .right-purchase__left .quantity:after {
              width: 35px;
              height: 100%;
              top: 0;
              right: 0;
              background-color: #DDDDDD;
              content: '';
              position: absolute; }
        .site-main__top .content .right-purchase__right {
          width: 90%;
          align-items: center;
          display: flex; }
          .site-main__top .content .right-purchase__right button {
            background: #E31927;
            border: 1px solid #E31927;
            border-radius: 4px;
            width: 100%; }
            .site-main__top .content .right-purchase__right button p {
              text-align: center;
              color: #fff;
              padding: 7px 0; }
      .site-main__top .content .right-cart {
        margin-bottom: 17px; }
        .site-main__top .content .right-cart button {
          background: #DDDDDD;
          border: 1px solid #DDDDDD;
          border-radius: 4px;
          width: 100%; }
          .site-main__top .content .right-cart button p {
            text-align: center;
            padding: 12px 0;
            color: #373737; }
      .site-main__top .content .right-call {
        border: 1px solid #E4E4E4;
        padding-left: 23px;
        padding-right: 24px;
        background: #F9F9F9;
        padding-bottom: 24px; }
        .site-main__top .content .right-call h2 {
          margin-top: 20px;
          margin-bottom: 12px;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          color: #373737;
          text-align: left; }
        .site-main__top .content .right-call input {
          width: 100%;
          padding-top: 11px;
          padding-bottom: 9px;
          padding-left: 13px;
          margin-bottom: 10px;
          border: 1px solid #DDDDDD; }
          .site-main__top .content .right-call input::placeholder {
            color: #909090;
            font-family: Roboto;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; }
        .site-main__top .content .right-call button {
          width: 100%;
          background: #E31927;
          border: 1px solid #E31927; }
          .site-main__top .content .right-call button p {
            text-align: center;
            padding: 10px 0;
            color: #fff; }
      .site-main__top .content .right-heart {
        display: flex;
        margin-top: 17px;
        margin-bottom: 30px; }
        .site-main__top .content .right-heart i {
          color: #E31927;
          margin-right: 15px; }
        .site-main__top .content .right-heart p {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          color: #373737; }
.site-main__body {
  display: flex;
  width: 100%; }
  .site-main__body .left {
    width: calc(73% - 5px);
    margin-right: 5px; }
    .site-main__body .left-table {
      padding-bottom: 34px;
      border-bottom: 1px solid #DDDDDD; }
      .site-main__body .left-table h3 {
        color: #373737;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        margin: 41px 0 29px 0; }
      .site-main__body .left-table ul {
        width: 100%;
        border: 1px solid #D8D8D8; }
        .site-main__body .left-table ul li {
          height: 50px;
          align-items: center;
          display: flex;
          border-bottom: 1px solid #D8D8D8; }
          .site-main__body .left-table ul li span {
            color: #373737;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left; }
          .site-main__body .left-table ul li .left-title {
            align-items: center;
            display: flex;
            height: 100%;
            margin-left: 19px;
            max-width: 63%;
            width: 100%;
            border-right: 1px solid #D8D8D8; }
          .site-main__body .left-table ul li .left-content {
            max-width: 37%;
            width: 100%;
            text-align: center; }
          .site-main__body .left-table ul li .in {
            color: #373737;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            text-align: left; }
        .site-main__body .left-table ul li:nth-child(2n+1) {
          background-color: #F9F9F9; }
    .site-main__body .left-info {
      border-bottom: 1px solid #DDDDDD; }
      .site-main__body .left-info h1 {
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        color: #373737;
        text-align: left;
        margin: 26px 0 28px 0; }
      .site-main__body .left-info__content p {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #373737;
        text-align: left; }
      .site-main__body .left-info__content .video {
        margin-top: 17px;
        margin-bottom: 30px; }
        .site-main__body .left-info__content .video iframe {
          width: 100%;
          height: 490px; }
      .site-main__body .left-info__content .img {
        margin-top: 17px;
        margin-bottom: 40px; }
    .site-main__body .left-comment h2 {
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      margin-top: 33px;
      color: #373737;
      text-align: left; }
    .site-main__body .left-comment__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px; }
      .site-main__body .left-comment__top .star i {
        color: #E31927;
        margin-right: 7px; }
        .site-main__body .left-comment__top .star i:last-child {
          margin-right: 0px; }
      .site-main__body .left-comment__top button {
        width: 60%;
        height: 40px;
        background: #E31927;
        border: 1px solid #E31927;
        border-radius: 4px; }
        .site-main__body .left-comment__top button p {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          color: #fff; }
    .site-main__body .left-comment__center .content {
      display: flex;
      align-items: center;
      margin-top: 40px; }
      .site-main__body .left-comment__center .content button {
        background: #D8D8D8;
        border: 1px solid #D8D8D8; }
        .site-main__body .left-comment__center .content button p {
          font-size: 20px;
          font-weight: 700;
          line-height: 20px;
          padding: 8px 15px 9px 17px;
          color: #373737; }
      .site-main__body .left-comment__center .content-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        margin-left: 14px;
        margin-right: 40px;
        color: #373737; }
      .site-main__body .left-comment__center .content-star i {
        color: #E31927; }
    .site-main__body .left-comment__center .comment p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.85);
      margin-top: 15px;
      margin-bottom: 10px;
      text-align: left; }
      .site-main__body .left-comment__center .comment p:last-child {
        margin: 0; }
    .site-main__body .left-comment__center .comment-feel {
      display: flex; }
      .site-main__body .left-comment__center .comment-feel a {
        margin-right: 16px;
        color: #14689A;
        Font-size: 14px;
        Line-height: 20px;
        font-weight: 400; }
      .site-main__body .left-comment__center .comment-feel p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #8C8C8C; }
    .site-main__body .left-comment__bottom {
      display: flex;
      align-items: center;
      border: 1px solid #ECECEC;
      padding: 20px 53px 20px 33px;
      background: #F8F8F8;
      margin: 20px 0 41px 0; }
      .site-main__body .left-comment__bottom .logo {
        margin-right: 29px; }
      .site-main__body .left-comment__bottom .box-title {
        display: flex; }
        .site-main__body .left-comment__bottom .box-title p {
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          color: #3F3F3F;
          align-items: center;
          display: flex; }
        .site-main__body .left-comment__bottom .box-title button {
          background: #14689A;
          border: 1px solid #14689A;
          border-radius: 4px;
          margin-left: 18px;
          padding: 1px 15px; }
          .site-main__body .left-comment__bottom .box-title button p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #fff; }
      .site-main__body .left-comment__bottom .box-comment p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.85);
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: left; }
        .site-main__body .left-comment__bottom .box-comment p:last-child {
          margin: 0; }
      .site-main__body .left-comment__bottom .box-comment__feel {
        display: flex; }
        .site-main__body .left-comment__bottom .box-comment__feel a {
          margin-right: 16px;
          color: #14689A;
          Font-size: 14px;
          Line-height: 20px;
          font-weight: 400; }
        .site-main__body .left-comment__bottom .box-comment__feel p {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: #8C8C8C; }
  .site-main__body .right {
    width: calc(27% + 5px);
    margin-left: 33px; }
    .site-main__body .right-top h2 {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px;
      color: #373737;
      text-align: left;
      margin-top: 41px; }
    .site-main__body .right-top__list ul li a {
      align-items: center;
      display: flex;
      margin-bottom: 20px; }
      .site-main__body .right-top__list ul li a p {
        margin-left: 8px;
        color: #373737;
        font-weight: 400;
        line-height: 24px;
        text-align: left; }
        .site-main__body .right-top__list ul li a p:hover {
          color: #E31927; }
    .site-main__body .right-top__list ul li:first-child {
      margin-top: 28px; }
    .site-main__body .right-top__list ul li:last-child {
      margin-bottom: 34px; }
    .site-main__body .right-images img {
      margin-bottom: 27px;
      width: 100%; }
.site-main__slide {
  padding-top: 38px;
  border-top: 1px solid #DDDDDD; }

/*# sourceMappingURL=category.css.map */
